In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Grouping').getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.csv('./CSV sample/Datasetgroup.csv',header=True,inferSchema=True)

In [6]:
df.dtypes

[('Name', 'string'), ('Departments', 'string'), ('salary', 'int')]

In [7]:
df.printSchema

In [8]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [9]:
df.printSchema()
df.printSchema

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [10]:
type(df.printSchema())

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

NoneType

In [11]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [12]:
## Max salary person
df.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [13]:
## max salary dept wise
df.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [14]:
## adding a extra column to check aggregreations
df = df.withColumn('2xSalary',df['salary']*2)

In [15]:
df.show()

+---------+------------+------+--------+
|     Name| Departments|salary|2xSalary|
+---------+------------+------+--------+
|    Krish|Data Science| 10000|   20000|
|    Krish|         IOT|  5000|   10000|
|   Mahesh|    Big Data|  4000|    8000|
|    Krish|    Big Data|  4000|    8000|
|   Mahesh|Data Science|  3000|    6000|
|Sudhanshu|Data Science| 20000|   40000|
|Sudhanshu|         IOT| 10000|   20000|
|Sudhanshu|    Big Data|  5000|   10000|
|    Sunny|Data Science| 10000|   20000|
|    Sunny|    Big Data|  2000|    4000|
+---------+------------+------+--------+

In [16]:
df.groupBy('Name').sum().show()

+---------+-----------+-------------+
|     Name|sum(salary)|sum(2xSalary)|
+---------+-----------+-------------+
|Sudhanshu|      35000|        70000|
|    Sunny|      12000|        24000|
|    Krish|      19000|        38000|
|   Mahesh|       7000|        14000|
+---------+-----------+-------------+

In [17]:
df.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [19]:
## operations on Task sheet
task_df = spark.read.csv("./CSV sample/task.csv",header=True,inferSchema=True)

In [20]:
task_df.show()

+--------------------+--------------------+-----------------+-----+-------+
|             Project|               Tasks|      Responsible|Hours|  Month|
+--------------------+--------------------+-----------------+-----+-------+
|                null|                null|             null| null|   null|
|             January|                null|             null| null|   null|
|            Power BI| BRM update for 2023|Surbhi Khandelwal|    5|January|
|            Power BI|BRM updating quer...|             null| null|   null|
|,Surbhi Khandelwa...|                null|             null| null|   null|
|            Power BI|BRM issue with co...|Surbhi Khandelwal|    7|January|
|            Power BI|BRM issue with Ra...|Surbhi Khandelwal|    4|January|
|            Power BI|Research on how t...|Surbhi Khandelwal|    4|January|
|            Power BI| BRM add departments|Surbhi Khandelwal|    3|January|
|            Power BI|Offer settlement ...|Surbhi Khandelwal|    4|January|
|            Power BI|Research on sendi...|Surbhi Khandelwal|    4|January|
|            Power BI|RLS for productiv...|Surbhi Khandelwal|  3.5|January|
|            Power BI|Foreclosure repor...|Surbhi Khandelwal|    2|January|
|            Power BI|BRM report - P&L ...|Surbhi Khandelwal|  5.5|January|
|            Power BI|Research on how t...|Surbhi Khandelwal|    6|January|
|            Power BI|    BRM report issue|Surbhi Khandelwal|    8|January|
|            Power BI|Microsoft Azure B...|Surbhi Khandelwal|    1|January|
|            Power BI|Research on matte...|Surbhi Khandelwal|    3|January|
|          Power Apps| Removed Rachel G...|     Anjali Dubey|  0.5|January|
|          Power Apps|epwander@kelleykr...|     Anjali Dubey|  0.5|January|
+--------------------+--------------------+-----------------+-----+-------+
only showing top 20 rows

In [22]:
task_df=task_df.na.drop(subset=["Hours"])

In [23]:
task_df

DataFrame[Project: string, Tasks: string, Responsible: string, Hours: string, Month: string]

In [25]:
task_df.show()

+----------+--------------------+-----------------+-----+-------+
|   Project|               Tasks|      Responsible|Hours|  Month|
+----------+--------------------+-----------------+-----+-------+
|  Power BI| BRM update for 2023|Surbhi Khandelwal|    5|January|
|  Power BI|BRM issue with co...|Surbhi Khandelwal|    7|January|
|  Power BI|BRM issue with Ra...|Surbhi Khandelwal|    4|January|
|  Power BI|Research on how t...|Surbhi Khandelwal|    4|January|
|  Power BI| BRM add departments|Surbhi Khandelwal|    3|January|
|  Power BI|Offer settlement ...|Surbhi Khandelwal|    4|January|
|  Power BI|Research on sendi...|Surbhi Khandelwal|    4|January|
|  Power BI|RLS for productiv...|Surbhi Khandelwal|  3.5|January|
|  Power BI|Foreclosure repor...|Surbhi Khandelwal|    2|January|
|  Power BI|BRM report - P&L ...|Surbhi Khandelwal|  5.5|January|
|  Power BI|Research on how t...|Surbhi Khandelwal|    6|January|
|  Power BI|    BRM report issue|Surbhi Khandelwal|    8|January|
|  Power BI|Microsoft Azure B...|Surbhi Khandelwal|    1|January|
|  Power BI|Research on matte...|Surbhi Khandelwal|    3|January|
|Power Apps| Removed Rachel G...|     Anjali Dubey|  0.5|January|
|Power Apps|epwander@kelleykr...|     Anjali Dubey|  0.5|January|
|Power Apps| Conflict check r...|     Anjali Dubey|  1.5|January|
|Power Apps| Opp#722662593 co...|     Anjali Dubey|    2|January|
|Power Apps| New Hire Initial...|     Anjali Dubey|   16|January|
|Power Apps|add BUL Distrib l...|     Anjali Dubey|    5|January|
+----------+--------------------+-----------------+-----+-------+
only showing top 20 rows

In [26]:
task_df

DataFrame[Project: string, Tasks: string, Responsible: string, Hours: string, Month: string]

In [32]:
task_df.select(["hours"]).agg({"hours":"sum"}).show()

+----------+
|sum(hours)|
+----------+
|     911.1|
+----------+

In [33]:
task_df.groupBy("Responsible").sum().show()

+--------------------+
|         Responsible|
+--------------------+
|                 PIP|
|                   3|
|                   8|
|                0.25|
|           resolve)"|
|            Illinois|
|   Surbhi Khandelwal|
|        Anjali Dubey|
|test and explaine...|
|                   6|
|                 0.5|
|corrected and tes...|
|                 1.5|
|monitor and resov...|
|                   1|
|             rectify|
|                   4|
|                  12|
|                12.5|
|       Neelesh Gupta|
+--------------------+
only showing top 20 rows

In [36]:
from pyspark.sql.functions import col

df_hours = task_df.withColumn("Hours", col("Hours").cast("float"))

In [37]:
df_hours.show()

+----------+--------------------+-----------------+-----+-------+
|   Project|               Tasks|      Responsible|Hours|  Month|
+----------+--------------------+-----------------+-----+-------+
|  Power BI| BRM update for 2023|Surbhi Khandelwal|  5.0|January|
|  Power BI|BRM issue with co...|Surbhi Khandelwal|  7.0|January|
|  Power BI|BRM issue with Ra...|Surbhi Khandelwal|  4.0|January|
|  Power BI|Research on how t...|Surbhi Khandelwal|  4.0|January|
|  Power BI| BRM add departments|Surbhi Khandelwal|  3.0|January|
|  Power BI|Offer settlement ...|Surbhi Khandelwal|  4.0|January|
|  Power BI|Research on sendi...|Surbhi Khandelwal|  4.0|January|
|  Power BI|RLS for productiv...|Surbhi Khandelwal|  3.5|January|
|  Power BI|Foreclosure repor...|Surbhi Khandelwal|  2.0|January|
|  Power BI|BRM report - P&L ...|Surbhi Khandelwal|  5.5|January|
|  Power BI|Research on how t...|Surbhi Khandelwal|  6.0|January|
|  Power BI|    BRM report issue|Surbhi Khandelwal|  8.0|January|
|  Power BI|Microsoft Azure B...|Surbhi Khandelwal|  1.0|January|
|  Power BI|Research on matte...|Surbhi Khandelwal|  3.0|January|
|Power Apps| Removed Rachel G...|     Anjali Dubey|  0.5|January|
|Power Apps|epwander@kelleykr...|     Anjali Dubey|  0.5|January|
|Power Apps| Conflict check r...|     Anjali Dubey|  1.5|January|
|Power Apps| Opp#722662593 co...|     Anjali Dubey|  2.0|January|
|Power Apps| New Hire Initial...|     Anjali Dubey| 16.0|January|
|Power Apps|add BUL Distrib l...|     Anjali Dubey|  5.0|January|
+----------+--------------------+-----------------+-----+-------+
only showing top 20 rows

In [38]:
df_hours.printSchema()

root
 |-- Project: string (nullable = true)
 |-- Tasks: string (nullable = true)
 |-- Responsible: string (nullable = true)
 |-- Hours: float (nullable = true)
 |-- Month: string (nullable = true)

In [48]:
df_hours.groupBy("Month").sum().show(3)

+-----+----------+
|Month|sum(Hours)|
+-----+----------+
| July|     105.0|
|    3|      null|
|    8|      null|
+-----+----------+
only showing top 3 rows